body { font-family: Arial, sans-serif; background-color: #e6f2ff; margin:0; padding:0; }
h1,h2,h3 { color: #003366; text-align:center; }
.container { display:flex; justify-content:space-around; flex-wrap:wrap; margin:20px; }
.player-box,.box { width:40%; min-width:300px; background-color:#cce0ff; border-radius:15px; padding:20px; box-shadow:0 4px 12px rgba(0,0,0,0.2); margin-bottom:20px; }
.box:hover,.player-box:hover { transform:scale(1.05); transition:0.3s; }
input[type=text],input[type=password],input[type=number]{ width:80%; padding:8px; margin:10px 0; font-size:16px; border-radius:5px; border:1px solid #99ccff; }
button { padding:8px 16px; margin-top:5px; font-size:16px; border:none; border-radius:5px; background-color:#0066cc; color:white; cursor:pointer; transition:0.2s; }
button:hover { background-color:#004d99; transform:scale(1.05); }
.rules-box { width:90%; margin:20px auto; padding:15px; background-color:#99ccff; border-radius:10px; box-shadow:0 4px 12px rgba(0,0,0,0.2);}
.progress-container { width:90%; margin:10px auto; background-color:#b3d1ff; border-radius:20px; overflow:hidden; height:20px;}
.progress-bar { height:100%; width:0; background-color:#004d99; text-align:center; color:white; line-height:20px; transition:width 0.5s;}
